.header h3,
.header h2 {
  margin: 0;
  padding: 0;
}

.header {
  margin: auto;
  max-width: 350px;
}

.header h2 {
  color: #B81365;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.header h3 {
  color: #777777;
  margin-bottom: 1em;
}

.form {
  display: flex;
  flex-direction: column;
}

input[type=number] {
  outline: none;
  max-width: 50px;
  height: 2.2em;

  font-size: 1.2rem;
  text-align: center;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



