.header h3,
.header h2 {
  margin: 0;
  padding: 0;
}

.header {
  margin: auto;
  max-width: 350px;
}

.header h2 {
  color: #507DBC;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.header h3 {
  color: #777777;
  margin-bottom: 1em;
}

.form {
  display: flex;
  flex-direction: column;
}

input[type=number] {
  padding-left: 15px;
  outline: none;
  border: none;
  margin-bottom: .15em;
  line-height: 2em;

  font-size: 1.2rem;
  text-align: center;
}

.header button {
  line-height: 2em;
  font-size: 1.2rem;

  background-color: #507DBC;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: none;
}






